* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header-container {
  background-color: #3367d6;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
}
.app-logo {
  padding: 10px;
}
.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 25vw;
}
.search-img-container {
  background-color: #2850a7;
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5vw;
  border: 1px solid #6697ff;
}

.search {
  background-color: #2850a7;
  height: 5vh;
  width: 25vw;
  font-weight: bold;
  padding: 5px;
  color: #ffffff;
  border: 1px solid #6697ff;
}
.main-container {
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  margin: 10vh;
  font-family: 'Roboto';
  padding: 5px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-container {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.time-accessed {
  font-size: 15px;
  padding: 10px;
  margin-right: 40px;
  color: #475569;
  font-weight: bold;
}
.logo {
  padding: 10px;
  height: 40px;
  width: 40px;
}
.title {
  font-size: 15px;
  padding: 10px;
  font-weight: bold;
  color: #475569;
}
.domain {
  font-size: 15px;
  padding: 10px;
  color: #64748b;
  font-weight: bold;
}
.delete {
  height: 40px;
  width: 40px;
  padding: 10px;
}
.del-btn {
  border: 0px;
  background-color: transparent;
}
